



  .MuiContainer-root {
    font-family: 'little-dinosaur';
    background-color: var(--space-cadet);
    color: var(--old-lace);
    min-width: 100vw;
    padding: 1%;
  }


  .MuiPaper-root {
    background-color: var(--space-cadet);
  }



  .MuiButton-label {
    color: var(--old-lace);
  }
  
.MuiAvatar-img {
  padding: 2%;
}
  

  .unselected {
    text-decoration: none !important;
  }

  .nav-link {
    text-decoration: underline;
  }

  .custom-link {
    font-family: 'little-dinosaur';
    color: var(--isabelline) !important;
    padding: 1vw;
  }

.drop-custom-link {
 
  color: var(--space-cadet);
  padding: 1vw;
}