:root {

    --space-cadet: #22223bff;
  --cinnamon-satin: #ce6a85ff;
  --cg-blue: #087ca7ff;
  --french-bistre: #846c5bff;
  --isabelline: #f2e9e4ff;
  --almond: #f1dac4;
  --old-lace: #faf2e5;
  }

  .MuiPaper-root {
background-color: var(--almond);
  }

  .MuiCardActions-root {
      color: var(--old-lace);
  }

  .MuiSvgIcon-root {
      color: var(--old-lace);
  }