@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');


.App {
  text-align: center;
  
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}
h1 {
  font-family: 'Righteous', cursive;
}

p header {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 24px;
}

p div {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 12px;
}



.App-logo {
  height: 30vmin;
  pointer-events: none;
  padding: 1%;
}

.divbox {
  border: rgb(80, 78, 78) 3px dotted;
  max-width: 30vh;
  padding: 1%;
  margin: 3%;


}

/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */

.App-header {
  background-color: #4b5f7d;
  min-height: 30vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
