button {
    padding: 1vh;
    border: slategray;
    border-radius: 3%;
    margin: 2%;
  
  
  }
  
  nav {

   display: inline;
    margin: 2%;
    padding: 2%;
  }
  
  a {
    color: #000;
    text-decoration: none;
  }