
@font-face {
  font-family: "little-dinosaur";
  src: url(Little-dinosaur-Cute-Font/fonts/LittleDinosaur-Bold.otf);
}

@font-face {
  font-family: "little-dinosaur-lite";
  src: url(Little-dinosaur-Cute-Font/fonts/LittleDinosaur.otf);
}

@font-face {
  font-family: "little-dinosaur-script";
  src: url(Little-dinosaur-Cute-Font/fonts/LittleDinosaurScript.otf);
}



.container {
  text-align: center;
  background-image: url(../images/fototobg5-01.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
  min-width: 100vw;
  min-height: 100vh;


}

p header {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 24px;
}

p div {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 12px;
}

.App-logo {
  height: 20vmin;
  pointer-events: none;
  padding: 1%;
}

.divbox {
  border: rgb(80, 78, 78) 3px dotted;
  max-width: 30vh;
  padding: 1%;
  margin: 3%;
}


.page{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 32px;

}

/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */



