@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');




.container {
  text-align: center;
  background-image: url(../images/fotobg2.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
  min-width: 100vw;
  min-height: 100vh;
  /* display: flex;
  flex-direction: row;
  justify-content: center; */
}

/* .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; 
} */

h1 {
  font-family: 'Righteous', cursive;
}

p header {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 24px;
}

p div {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 12px;
}

.App-logo {
  height: 20vmin;
  pointer-events: none;
  padding: 1%;
}

.divbox {
  border: rgb(80, 78, 78) 3px dotted;
  max-width: 30vh;
  padding: 1%;
  margin: 3%;
}


.page{
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */



