@font-face {
    font-family: "little-dinosaur";
    src: url(Little-dinosaur-Cute-Font/fonts/LittleDinosaur-Bold.otf);
  }

.MuiCardHeader-root {
background-color: var(--isabelline-opacity77);


}

h2 {
    font-family: 'little-dinosaur';
}

.discoverDogs, .cats {
    margin-top: 4%;
}