:root {
  --space-cadet: #22223bff;
  --independence: #4a4e69;
  --heliotrope-gray: #9a8c98;
  --silver-pink: #c9ada7;
  --isabelline: rgb(242, 233, 228);
  --isabelline-opacity77: rgba(242, 233, 228, 0.77);
}

.signup-login-card {
  min-width: 345px;
  min-height: 675px;
  padding: 6vw;
  background-color: var(--isabelline-opacity77) !important;
  margin: 5vh;
  border: 1px solid transparent;
  border-radius: 20px;
  box-shadow: 0.1em 0 0.2em 0.01em var(--heliotrope-gray);
  
}

.newpost-card {
  min-width: 270px;
  min-height: 575px;
  padding: 6vw;
  background-color: var(--isabelline-opacity77) !important;
  margin: 5vh;
  border: 1px solid transparent;
  border-radius: 20px !important;
  box-shadow: 0.1em 0 0.2em 0.01em var(--heliotrope-gray);
  
}
h3 {
  font-size: 28px;
  font-family: "little-dinosaur";
}

p {
  font-family: "little-dinosaur";
  font-size: 24px;
}
form {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  margin: 2%;
  padding: 2%;

}

.MuiCardContent-root {
  margin: 4px;
}
.form-input {
  font-family: Arial, Helvetica, sans-serif;
  color: var(--space-cadet) !important;
  padding: 2%;
  border-bottom: var(--independence) 1px solid;
  border-radius: 8px;
  margin: 4px;

}

textarea {
  border: transparent 1px solid;
  resize: none;
}

input {
  padding: 1%;
  margin: 0.5vw;
  border: 1px solid var(--dark);
  border-radius: 4px;

}

.submit-btn {
  font-size: 18px;
  font-family: "little-dinosaur";
  background-color: var(--silver-pink);
  border: 1px transparent solid;
  border-radius: 8px;
  padding: 2%;
  margin: 2vh;
  margin-left: 4vh;
  margin-right: 4vh;
}
.login-btn {
  font-size: 18px;
  font-family: "little-dinosaur";
  background-color: var(--silver-pink);
  border: 1px transparent solid;
  border-radius: 8px;
  padding: 2%;
  margin: 2%;
}
a:visited {
  color: var(--white);
  text-decoration: none;
}
