:root {

    --space-cadet: #22223bff;
  --independence: #4A4E69;
  --heliotrope-gray:  #9a8c98;
  --silver-pink: #c9ada7;
  --isabelline: #f2e9e4ff;
  }

  .MuiButtonBase-root{
      color: var(--space-cadet) !important;
  }


