@import url('https://fonts.googleapis.com/css2?family=Jaldi:wght@700&display=swap');


:root {

  --space-cadet: #22223bff;
--cinnamon-satin: #ce6a85ff;
--cg-blue: #087ca7ff;
--french-bistre: #846c5bff;
--isabelline: #f2e9e4ff;
--almond: #f1dac4;
--old-lace: #faf2e5;
}



  .MuiContainer-root {
    font-family: 'Jaldi', sans-serif;
    background-color: var(--space-cadet);
    color: var(--old-lace);
    min-width: 100vw;
    padding: 1%;
  }


  .MuiPaper-root {
    background-color: var(--space-cadet);
  }



  .MuiButton-label {
    color: var(--old-lace);
  }

  

  .unselected {
    text-decoration: none !important;
  }

  .nav-link {
    text-decoration: underline;
  }

  .custom-link {
    font-family: 'Jaldi', sans-serif;
    color: var(--isabelline) !important;
  }