:root {

  --space-cadet: #22223bff;
--cinnamon-satin: #ce6a85ff;
--cg-blue: #087ca7ff;
--french-bistre: #846c5bff;
--isabelline: #f2e9e4ff;
--almond: #f1dac4;
--old-lace: #faf2e5;
}



  .css-19r6kue-MuiContainer-root {
    background-color: var(--space-cadet);
    color: var(--isabelline);
    padding: 1%;
  }

  .MuiCardMedia-root{
    background-color: var(--old-lace);

  }

  .MuiCardActions-root{
    background-color:var(--space-cadet);
    margin: 1%;
  }

  .MuiCardContent-root{
    background-color: var(--almond);

  }


  

  .unselected {
    text-decoration: none !important;
  }

  .nav-link {
    text-decoration: underline;
  }

  .custom-link {
    color: var(--isabelline) !important;
  }