/* :root {
    --white: #fff;
    --dark: rgba(131, 116, 97, 0.822);
    --tan: #c4b292;
 } */




input {
    padding: 1%;
    margin: 0.5vw;
    border: 1px solid var(--dark);
    border-radius: 4px;
    opacity: 80%;

}

.profileBox {
    margin: 2%;
    width: 80%;
}

button {
    color: var(--white);
    background-color: var(--dark);
    border: 1px transparent solid;
    border-radius: 8px;
    padding: 1%;
}

a:visited {

    text-decoration: none;
  }